:root {
  --color-primary: #2f64eb;
  --color-primary-light: #3366ff;
  --color-primary-dark: #265dba;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 68.75em) {
  body {
    padding: 0;
  }
}

nav {
  background-color: #5C5C5C;
  height: 7vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.swimming {
  background-color: #00bbf9;
  height: 80vh;
  width: 100%;
}

.portfolio {
  background-color: #00f5d4;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games {
  background-color: #fee440;
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me {
  background-color: #f8a07b;
  width: 100%;
  padding: 4rem 1rem;
}

.me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #5C5C5C;
  height: 30vh;
  width: 100%;
}

.logo {
  font-size: 2.2rem;
  margin-left: 3rem;
  font-family: 'Barlow', sans-serif;
  color: white;
  text-transform: uppercase;
}

.external-links {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.external-links :link {
  color: white;
  text-decoration: none;
}

.external-links :visited {
  color: white;
  text-decoration: none;
}

.external-links > .github {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  background-color: #5C5C5C;
  width: 20%;
  margin: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  overflow: hidden;
}

.card > .website-image {
  height: 20rem;
  width: auto;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.card > .paragraph {
  font-size: 1.8rem;
  color: white;
  font-size: 1.4rem;
  background-color: #5C5C5C;
  text-align: center;
  width: 100%;
}

.card > .skills {
  height: 5rem;
  background-color: #424242;
  text-align: center;
  width: 100%;
}

.heading {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.heading-white {
  color: white;
}

.heading-black {
  color: #424242;
}

.finding-kitty {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.screenshot {
  width: 50rem;
  height: 35rem;
  background-color: #5C5C5C;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.game-card {
  background-color: #5C5C5C;
  width: 40rem;
  height: 30rem;
  margin: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  overflow: hidden;
  color: white;
}

.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  text-align: center;
  color: #424242;
  font-size: 1.3rem;
  font-weight: 900;
}

.profile-pic {
  width: 14.3rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.skills {
  width: 16rem;
  text-align: center;
  padding: 1.5rem;
}

.skills-card {
  background-color: #CCCCCC;
  margin: 4rem 2rem;
  width: 25rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  padding: 1.5rem 0.3rem;
  overflow: hidden;
}

.skills-card-heading {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #5C5C5C;
}

.pill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pill {
  border-radius: 15%;
  padding: .55rem .4rem;
  margin: .3rem;
  line-height: 1rem;
  color: white;
}

.red {
  background-color: #d92d00;
}

.blue {
  background-color: #006bb4;
}

.yellow {
  background-color: #ddb700;
}

.green {
  background-color: #00DB49;
}

.orange {
  background-color: #D98621;
}

.cyan {
  background-color: #00DBB7;
}
/*# sourceMappingURL=main.css.map */