.fish-fast {
  position: absolute;
  left: -10rem;
  z-index: 10;
}

.fish-normal {
  position: absolute;
  left: -10rem;
  z-index: 10;
}

.fish-slow {
  position: absolute;
  left: -10rem;
  z-index: 10;
}

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(13000%);
            transform: translateX(13000%);
  }
}

@keyframes swim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(13000%);
            transform: translateX(13000%);
  }
}

@-webkit-keyframes expand {
  0% {
    border: .3px dashed hotpink;
    border-radius: 15%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    padding: .25rem;
    border-radius: 15%;
    border: 3px dashed hotpink;
  }
}

@keyframes expand {
  0% {
    border: .3px dashed hotpink;
    border-radius: 15%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    padding: .25rem;
    border-radius: 15%;
    border: 3px dashed hotpink;
  }
}

.fish:nth-child(1) {
  position: absolute;
  width: 1.55rem;
  top: 42.11vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 20.07s;
          animation-duration: 20.07s;
}

.fish:nth-child(2) {
  position: absolute;
  width: 4.4rem;
  top: 30.99vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 29.76s;
          animation-duration: 29.76s;
}

.fish:nth-child(3) {
  position: absolute;
  width: 1.2rem;
  top: 56.58vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 26.91s;
          animation-duration: 26.91s;
}

.fish:nth-child(4) {
  position: absolute;
  width: 5.25rem;
  top: 40.19vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 26.23s;
          animation-duration: 26.23s;
}

.fish:nth-child(5) {
  position: absolute;
  width: 3.45rem;
  top: 32.4vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 22.43s;
          animation-duration: 22.43s;
}

.fish:nth-child(6) {
  position: absolute;
  width: 2.65rem;
  top: 15.14vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 27.99s;
          animation-duration: 27.99s;
}

.fish:nth-child(7) {
  position: absolute;
  width: 4.25rem;
  top: 43.55vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 22.13s;
          animation-duration: 22.13s;
}

.fish:nth-child(8) {
  position: absolute;
  width: 4rem;
  top: 18.25vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 20.77s;
          animation-duration: 20.77s;
}

.fish:nth-child(9) {
  position: absolute;
  width: 3.6rem;
  top: 32.63vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 24.75s;
          animation-duration: 24.75s;
}

.fish:nth-child(10) {
  position: absolute;
  width: 5.7rem;
  top: 45.48vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 29.4s;
          animation-duration: 29.4s;
}

.fish:nth-child(11) {
  position: absolute;
  width: 1.15rem;
  top: 65.9vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 29.34s;
          animation-duration: 29.34s;
}

.fish:nth-child(12) {
  position: absolute;
  width: 1.8rem;
  top: 35.61vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 22.7s;
          animation-duration: 22.7s;
}

.fish:nth-child(13) {
  position: absolute;
  width: 4.85rem;
  top: 25.49vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 21.21s;
          animation-duration: 21.21s;
}

.fish:nth-child(14) {
  position: absolute;
  width: 1.95rem;
  top: 16.23vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 29.2s;
          animation-duration: 29.2s;
}

.fish:nth-child(15) {
  position: absolute;
  width: 3.5rem;
  top: 16.66vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 21.85s;
          animation-duration: 21.85s;
}

.fish:nth-child(16) {
  position: absolute;
  width: 4.65rem;
  top: 14.1vh;
  -webkit-animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
          animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
  -webkit-animation-name: swim;
          animation-name: swim;
  -webkit-animation-duration: 29.55s;
          animation-duration: 29.55s;
}

.fish-normal:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.fish-normal:nth-child(8) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.fish-normal:nth-child(9) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.fish-normal:nth-child(10) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.fish-normal:nth-child(11) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.fish-slow:nth-child(12) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.fish-slow:nth-child(13) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.fish-slow:nth-child(14) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.fish-slow:nth-child(15) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.fish-slow:nth-child(16) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.nav-link:nth-child(1) {
  -webkit-animation: expand 2s ease-out infinite;
          animation: expand 2s ease-out infinite;
  display: inline-block;
}

.nav-link:nth-child(2) {
  -webkit-animation: expand 2s ease-out infinite;
          animation: expand 2s ease-out infinite;
  display: inline-block;
}

.nav-link:nth-child(3) {
  -webkit-animation: expand 2s ease-out infinite;
          animation: expand 2s ease-out infinite;
  display: inline-block;
}

:root {
  --color-primary: #2f64eb;
  --color-primary-light: #3366ff;
  --color-primary-dark: #265dba;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 68.75em) {
  body {
    padding: 0;
  }
}

div.wrapper {
  overflow-x: hidden;
  position: relative;
  background-color: #00bbf9;
}

nav {
  background-color: #5C5C5C;
  background-image: url("../img/nav-faces.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 7vh;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 20;
}

.swimming {
  background-color: #00bbf9;
  height: 80vh;
  width: 100%;
}

.portfolio {
  background-color: #00f5d4;
  background-image: url("../img/waves-cyan.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games {
  background-color: #fee440;
  background-image: url("../img/waves-yellow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me {
  background-color: #f8a07b;
  background-image: url("../img/waves-orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  padding: 4rem 1rem;
}

.me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.art {
  background-color: #f15bb5;
  background-image: url("../img/waves-pink.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  padding: 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.2rem;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
  margin-top: 4rem;
}

footer {
  background-color: #5C5C5C;
  height: 30vh;
  width: 100%;
}

.logo {
  font-size: 2.2rem;
  margin-left: 3rem;
  font-family: 'Barlow', sans-serif;
  color: white;
  text-transform: uppercase;
}

.external-links {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.external-links :link {
  color: white;
  text-decoration: none;
}

.external-links :visited {
  color: white;
  text-decoration: none;
}

.external-links > .github {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.card {
  background-color: #5C5C5C;
  width: 25rem;
  margin: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  overflow: hidden;
}

.card > .website-image {
  height: 20rem;
  width: auto;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.card > .paragraph {
  font-size: 1.8rem;
  color: white;
  font-size: 1.4rem;
  background-color: #5C5C5C;
  text-align: center;
  width: 100%;
}

.card > .skills {
  background-color: #424242;
  text-align: center;
  padding: 1.8rem 1rem;
  width: 100%;
}

.heading {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.heading-white {
  color: white;
}

.heading-black {
  color: #424242;
}

.finding-kitty {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.screenshot {
  width: 50rem;
  height: 35rem;
  background-color: #5C5C5C;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.game-card {
  background-color: #5C5C5C;
  width: 40rem;
  height: 30rem;
  margin: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  overflow: hidden;
  color: white;
}

.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  text-align: center;
  color: #424242;
  font-size: 1.5rem;
  font-weight: 900;
}

.profile-pic {
  width: 14.3rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.skills {
  width: 16rem;
  text-align: center;
  padding: 1.5rem;
}

.skills-card {
  background-color: #EDEDED;
  margin: 4rem 2rem;
  width: 25rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1rem solid #5C5C5C;
  border-radius: 3%;
  padding: 1.5rem 0.3rem;
  overflow: hidden;
}

.skills-card-heading {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #5C5C5C;
}

.pill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pill {
  border-radius: 15%;
  padding: .75rem .6rem;
  margin: .3rem;
  line-height: 1rem;
  font-size: 1.3rem;
  color: white;
}

.red {
  background-color: #d92d00;
}

.blue {
  background-color: #006bb4;
}

.yellow {
  background-color: #ddb700;
}

.green {
  background-color: #00DB49;
}

.orange {
  background-color: #D98621;
}

.cyan {
  background-color: #00DBB7;
}

.art-image {
  width: 35rem;
  height: 20rem;
  background-color: yellow;
}

.art-card {
  border: 1rem solid #C4117C;
  border-radius: 3%;
  overflow: hidden;
}

.artstation-link {
  text-decoration: none;
  font-size: 2rem;
  background-color: white;
  color: black;
  border-radius: 20%;
  margin-top: 2rem;
  padding: .4rem 1.5rem;
  text-shadow: .5px .5px #C4117C;
}

.lewis-image {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 70%;
  top: 40%;
}
/*# sourceMappingURL=main.css.map */