.fish {
    position: absolute;
    left:-19rem;
    z-index:10;
}


@keyframes swim {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(11000%);
    }
}

@keyframes expand {
    0% {
      border: .3px dashed hotpink;
      border-radius: 15%;
      transform: scale(1.0);
    }

    100% {
      transform: scale(1.15);
      padding: .25rem;
      border-radius: 15%;
      border: 3px dashed hotpink;
    }
}


@for $i from 1 through 20 {
    .fish:nth-child(#{$i}) {    
        
    position: absolute;
    height: (random(100)/100)*6 + 1 + rem;
    top: (random(6000)/100 + 13) + vh; 
    
    animation: cubic-bezier(0.6, 0.28, 0.735, 0.045) infinite;
    animation-name: swim;
    animation-duration: (random(1000)/100) + 20 + s;

    }
}

@for $i from 1 through 8 {
    .fish:nth-child(#{$i}) {    
        animation-delay: 0.5s;
    }
}

@for $i from 9 through 14 {
    .fish:nth-child(#{$i}) {    
        animation-delay: 8s;
    }
}

@for $i from 15 through 20 {
    .fish:nth-child(#{$i}) {    
        animation-delay: 13s;
    }
}

@for $i from 1 through 3 {
    .nav-link:nth-child(#{$i}) {    

        // animation-name: expand;
        // animation-duration: 3s;
        animation: expand 2s ease-out infinite;
        display: inline-block;
    }
}