//////////////////////////////////////////
// NAV BAR
.logo {
    font-size: 2.2rem;
    margin-left: 3rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-transform: uppercase;
}

.external-links {
    font-size: 1.8rem;
    margin-right: 2rem;

    :link {
        color: white;
        text-decoration: none;
    }
    :visited {
        color: white;
        text-decoration: none;
    }

    & > .github {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



//////////////////////////////////////////
// Portfolio

.card {
    background-color: #5C5C5C;
    width: 20%;
    margin: 8rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    overflow: hidden;

    & > .website-image {
        height: 20rem;
        background-size: auto;
        background-repeat: no-repeat;
        max-width:100%;
        max-height:100%;
        object-fit: cover;
        object-position: 0% 100%;
    }

    & > .paragraph {
        font-size: 1.8rem;
        color: white;
        font-size: 1.4rem;
        background-color: #5C5C5C;
        text-align: center;

        width: 100%;
    }

    & > .skills {
        height: 10rem;
        background-color: #121212;
        color: white;
        text-align: center;

        width: 100%;
    }
}













//////////////////////////////////////////