//////////////////////////////////////////
// NAV BAR
.logo {
    height: 5rem;
    margin-left: 2rem;
}

.external-links {
    font-size: 1.8rem;
    margin-right: 2rem;

    :link {
        color: white;
        text-decoration: none;
    }
    :visited {
        color: white;
        text-decoration: none;
    }

    & > .github {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



//////////////////////////////////////////
