//////////////////////////////////////////
// NAV BAR
.logo {
    font-size: 2.2rem;
    margin-left: 3rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-transform: uppercase;
}

.external-links {
    font-size: 1.8rem;
    margin-right: 2rem;

    :link {
        color: white;
        text-decoration: none;
    }
    :visited {
        color: white;
        text-decoration: none;
    }

    & > .github {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



//////////////////////////////////////////
// Portfolio

.card {
    background-color: #5C5C5C;
    width: 25rem;
    margin: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    overflow: hidden;

    & > .website-image {
        height: 20rem;
        width: auto;
        background-size: auto;
        background-repeat: no-repeat;
        max-width:100%;
        max-height:100%;
        object-fit: cover;
        object-position: 0% 100%;
    }

    & > .paragraph {
        font-size: 1.8rem;
        color: white;
        font-size: 1.4rem;
        background-color: #5C5C5C;
        text-align: center;

        width: 100%;
    }

    & > .skills {
        height: 5rem;
        background-color: #424242;
        // color: white;
        text-align: center;

        width: 100%;
    }
}

.heading {
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;

    &-white {
        color: white;
    }

    &-black {
        color: #424242;
    }
}


//////////////////////////////////////////
//GAME

.finding-kitty {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.screenshot {
    width: 50rem;
    height: 35rem;
    background-color: #5C5C5C;

    background-size: auto;
    background-repeat: no-repeat;
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.game-card {
    background-color: #5C5C5C;
    width: 40rem;
    height: 30rem;
    margin: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    overflow: hidden;
    color: white;
    
}


//////////////////////////////////////////
// Profile

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    text-align: center;
    
    color: #424242;
    font-size: 1.3rem;
    font-weight: 900;
}


.profile-pic {
    width: 14.3rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skills {
    width: 16rem;
    text-align: center;
    padding: 1.5rem;
}

.skills-card {

    background-color: #CCCCCC;
    margin: 4rem 2rem;
    
    width: 25rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    padding: 1.5rem 0.3rem;
    overflow: hidden;


    &-heading {
        font-size: 1.5rem;
        margin-bottom: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: #5C5C5C;
    }
}


//////////////////////////////////////////
// Pills

.pill-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pill {
    border-radius: 15%;
    padding: .55rem .4rem;
    margin: .3rem;
    line-height: 1rem;
    color: white;
}

.red {
    background-color: #d92d00;
}

.blue {
    background-color: #006bb4;
}

.yellow {
    background-color: #ddb700;
}

.green {
    background-color: #00DB49;
}

.orange {
    background-color: #D98621;
}

.cyan {
    background-color: #00DBB7;
}


//////////////////////////////////////////
// Voxel Art

.art-image {
    width: 35rem;
    height: 20rem;
    background-color: yellow;

}

.art-card {
    border: 1rem solid #C4117C;
    border-radius: 3%;
    overflow: hidden;
}

.artstation-link {
    text-decoration: none;
    font-size: 2rem;
    background-color: white;
    color: black;

    border-radius: 20%;
    margin-top: 2rem;
    padding: .4rem 1.5rem;
    text-shadow: .5px .5px #C4117C;
}

//////////////////////////////////////////




//////////////////////////////////////////
// Footer



//////////////////////////////////////////