//////////////////////////////////////////
//GAME

.finding-kitty {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.screenshot {
    width: 50rem;
    height: 35rem;
    background-color: #5C5C5C;

    background-size: auto;
    background-repeat: no-repeat;
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.game-card {
    background-color: #5C5C5C;
    width: 40rem;
    height: 30rem;
    margin: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    overflow: hidden;
    color: white;
    
}

.play-button, .level-guide {
    font-size: 2rem;
    background-color: white;
    color: black;

    border-radius: 20%;
    padding: .4rem 1.5rem;
    text-shadow: .5px .5px yellow;

    :active {
        background: #e5e5e5;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
           -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
                box-shadow: inset 0px 0px 5px #c1c1c1;
         outline: none;
    }
}

.level-guide {
    margin-top: 1rem;

}

.level-images {

    width: auto;
    max-width: 90vh;
    height: 50rem;
    margin: 1.5rem 0rem;

    @media only screen and (max-width: $bp-medium) {
        height: 35rem;
    }

    @media only screen and (max-width: $bp-small) {
        height: 30rem;
    }
}
