nav {
    background-color: #5C5C5C;
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

}

.swimming {
    background-color: #00bbf9;
    // background-color: #1152d1;
    height: 80vh;
    width: 100%;
    
}

.portfolio {
    background-color: #00f5d4;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;

    & > .heading {
        font-size: 3rem;
        margin-top: 5rem;
        text-align: center;
        color: white;
    }

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.games {
    background-color: #fee440;
    height: 50vh;
    width: 100%;
}

.about-me {
    background-color: #f15bb5;
    height: 50vh;
    width: 100%;
}

footer {
    background-color: #9b5de5;
    height: 30vh;
    width: 100%;
}