nav {
    background-color: #5C5C5C;
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index:20;
}

.swimming {
    background-color: #00bbf9;
    // background-color: #1152d1;
    height: 80vh;
    width: 100%;
    
}

.portfolio {
    background-color: #00f5d4;
    background-image: url('../img/waves-cyan.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    flex-wrap: wrap;

    width: 100%;

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.games {
    background-color: #fee440;
    background-image: url('../img/waves-yellow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    width: 100%;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me {
    background-color: #f8a07b;
    background-image: url('../img/waves-orange.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    width: 100%;
    padding: 4rem 1rem;
}

.me-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.art {
    background-color: #f15bb5;
    background-image: url('../img/waves-pink.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    width: 100%;
    padding: 4rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
    margin-top: 4rem;
}

footer {
    background-color: #5C5C5C;
    height: 30vh;
    width: 100%;
}




