.a4 {
    width: 100rem;
    background-color: #B9E2FF;
    padding: 3rem;
    margin: 0rem 1.5rem;
    font-size: 1.5rem;
}

.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    list-style-type: square;
}

