//////////////////////////////////////////
// Profile

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    text-align: left;
    
    color: #424242;
    font-size: 1.3rem;
    font-weight: 900;
}


.profile-pic {
    width: 14.3rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skills {
    width: 16rem;
    text-align: center;
    padding: 1.5rem;
}

.skills-card {

    background-color: #EDEDED;
    margin: 4rem 2rem;
    
    width: 30rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1rem solid #5C5C5C;
    border-radius: 3%;
    padding: 1.8rem 0.5rem;
    overflow: hidden;


    &-heading {
        font-size: 1.9rem;
        margin-bottom: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        color: #5C5C5C;
    }
}
