//////////////////////////////////////////
// Swimming

.lewis {
    
    &-image {
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: 70%;
        top: 40%;

    }
}

.swimming-header {
    color: white;
    font-size: 4rem;
    text-align: center;
}
